@model InternTest.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Student Page";
}

@Html.Partial("_DeleteStudentModal")

<div class="row">
    @Html.ActionLink("Add Student", "Create", new { controller = "Student" }, new { @class = "btn btn-primary", @style = "margin-bottom:1em" })
</div>
<div class="row">
    <table id="pager" class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Feild</th>
                <th>Age</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => student.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => student.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => student.Field)</td>
                    <td>@Html.DisplayFor(modelItem => student.Age)</td>
                    <td>
                        <a style="text-decoration: none; color: red;" data-toggle="modal" data-target="#student_@student.Id">DELETE</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">

    function deleteStudent(id) {
        $.ajax({
            type: 'POST',
            url: '/Student/Destroy',
            data: JSON.stringify({ id: id }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                window.location.href = "/";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>