@model InternTest.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Student Page";
}

<style>
    .pager-nav {
        margin: 16px 0;
    }

    .pager-nav span {
        display: inline-block;
        padding: 4px 8px;
        margin: 1px;
        cursor: pointer;
        font-size: 14px;
        background-color: #FFFFFF;
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .pager-nav span:hover,
    .pager-nav .pg-selected {
        background-color: lightseagreen;
        border: 1px solid #CCCCCC;
        color: white;
    }
</style>



<div class="row">
    <button class="btn btn-primary" style="margin-block:1em;" type="button" data-bs-toggle="modal" data-bs-target="#addModal" onclick="location.href='@Url.Action("AddStudent", "Home", new {})'">Add Student</button>
</div>
<div class="row">
    <table id="pager" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Feild
                </th>
                <th>
                    Age
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>

        @foreach (var student in Model.Students)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => student.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => student.Field)
        </td>
        <td>
            @Html.DisplayFor(modelItem => student.Age)
        </td>
        <td>
            <a style="text-decoration: none; color: red;" onclick="deleteUser(`@student.Id`)">DELETE</a>
        </td>
    </tr>
        }

    </table>
</div>

<script type="text/javascript">

    function showDeleteUserConfirmationModal(studentId) {
        $.ajax({});
    }

    function deleteUser(id) {
        $.ajax({
            type: 'POST',
            url: '/Home/DeleteUser',
            data: JSON.stringify({ id: id }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                window.location.href = "/";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    //function editUser(first, last, field, age) {
    //    $.ajax({
    //        type: 'POST',
    //        url: '/Home/EditUser',
    //        data: '{first: "' + first + '",last: "' + last + '",field: "' + field + '",age: "' + age + '" }',
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "html",
    //        success: function (response) {
    //            $("#deleteModal").find(".modal-body").html(response);
    //            $("#deleteModal").modal('show');
    //        },
    //        failure: function (response) {
    //            alert(response.responseText);
    //        },
    //        error: function (response) {
    //            alert(response.responseText);
    //        }
    //    });
    //}
</script>