@model InternTest.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Student Page";
}

@Html.Partial("_DeleteStudentModal")

<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("Add Student", "New", new { controller = "Student" }, new { @class = "btn btn-primary", @style = "margin-bottom:1em" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    <table id="pager" class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Field of Study</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td style="vertical-align:middle">@Html.DisplayFor(modelItem => student.FirstName)</td>
                    <td style="vertical-align:middle">@Html.DisplayFor(modelItem => student.LastName)</td>
                    <td style="vertical-align:middle">@Html.DisplayFor(modelItem => student.Field)</td>
                    <td style="vertical-align:middle">@Html.DisplayFor(modelItem => student.Age)</td>
                    <td style="vertical-align:middle">
                        @Html.ActionLink("EDIT", "Edit", new { id = student.Id, controller = "Student" }, new { @class = "btn btn-sm btn-primary" })
                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#student_@student.Id">DELETE</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>

<script type="text/javascript">

    function deleteStudent(id) {
        $.ajax({
            type: 'POST',
            url: '/Student/Destroy',
            data: JSON.stringify({ id: id }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                window.location.href = "/";
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>